body {
    color: #686868;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 55px;
    overflow-x: hidden;
}

.tm-site-name {
    color: #696969;
    font-weight: 600;
    font-size: 2.4rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    margin-bottom: 0;
}

.tm-site-icon {
    display: inline;
    vertical-align: middle;
}

.tm-site-header-right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
}

.btn {
    font-size: 1em;
    height: auto;
    text-transform: capitalize;
    font-size: 1em;
}

.btn-primary {
    background-color: #1b6599;
    border-color: #1b6599;
    padding: 14px 44px;
}

.tm-btn-submit {
    font-size: 1.2em;
    padding: 12px 50px;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #2792dd;
    border-color: #2792dd;
}

.tm-highlight {
    background-color: #289a99;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom: 45px;
}

hr {
    border-top: 5px solid #289a99;
    margin-top: 0;
    margin-bottom: 0;
}

.tm-parallax {
    opacity:1;
    margin-top: 40px;
    height: 240px;
    width: 100%;
    background-image: url(../img/survey.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center -200px;
}

.tm-intro {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2px;
}

.tm-intro-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

p {
    line-height: 1.8;
}

.tm-question-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: #39999a;
    margin-top: 5px;
    margin-bottom: 20px;
}
.tm-question-header-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1E90FF;
    margin-top: 5px;
    margin-bottom: 20px;
}


.tm-question-none {
    font-size: 1.5rem;
    font-weight: 600;
    color: darkgray;
    margin-top: 5px;
    margin-bottom: 20px;
}


.tm-question-header-mt {
    margin-top: 25px;
}

.tm-q-choice-container {
    margin-left: -15px;
    margin-right: -15px;
    /*margin-bottom: 45px;*/
}

.tm-q3-choice-container {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 21px;
}

.tm-q-choice {
    margin: 20px 15px;
}

.tm-q3-choice {
    margin: 19px;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
    font-size: 18px;
    padding-left: 40px;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
    border-color: #686868;
    width: 25px;
    height: 25px;
    top: -4px;
}

[type="radio"]:checked + span,
[type="checkbox"].filled-in:checked + span {
    color: #39999a;
}

img.darken {
    filter: brightness(50%);
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
    width: 10px;
    height: 17px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after,
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    width: 25px;
    height: 25px;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    border-color: #686868;
}

[type="checkbox"] + span:not(.lever) {
    font-size: 18px;
}

label {
    color: #626161;
    font-size: 18px;
}

select {
    border-color: #626161;
    border-radius: 0;
    height: 45px;
}

.select-wrapper input.select-dropdown {
    border: 1px solid #9e9e9e;
    padding-left: 18px;
    font-size: 18px;
    width: calc(100% - 10px);
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #9e9e9e;
}

.select-wrapper .caret {
    border: 1px solid #9e9e9e;
    width: 30px;
    height: 30px;
}

textarea {
    height: 155px;
    border-color: #9a9a9a;
}

textarea {
    outline-color: rgba(57, 153, 154, 0.3);
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #343a40;
}

.form-control:focus {
    border-color: #39999a;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(57, 153, 154, 0.3);
    box-shadow: 0 0 0 0.2rem rgba(57, 153, 154, 0.3);
}

.tm-dropdown-container {
    margin-top: 56px;
    height: 45px;
}

.tm-respondent-info {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tm-submit-container {
    margin-bottom: 70px;
}

.tm-choice-ml {
    margin-left: 45px;
}

.tm-choice-mt {
    margin-top: 23px;
}

.form-control {
    border-radius: 0;
    height: 45px;
    border-color: #9a9a9a;
}

.form-group {
    margin-bottom: 33px;
}

.tm-footer-text {
    font-size: 0.9em;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 767px) {
    .tm-intro {
        display: block;
    }

    .tm-choice-mt {
        margin-top: -15px;
    }

    .row .col.tm-dropdown-container {
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .tm-site-header-right-col {
        display: block;
    }
}

@media (max-width: 470px) {
    .tm-q3-choice {
        margin: 10px;
        width: 40%;
    }
}

@media (max-width: 424px) {
    .tm-q-choice-2-col {
        width: 40%;
    }

    .tm-q-choice {
        margin: 10px;
    }
}

@media (max-width: 395px) {
    .tm-site-name {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }
}
