@charset "UTF-8";

@font-face {
    font-family: xuicon;
    src: url(//s1.xmcdn.com/yx/ximalaya-web-static/last/dist/fonts/iconfont_e8d2d09.eot);
    src: url(//s1.xmcdn.com/yx/ximalaya-web-static/last/dist/fonts/iconfont_1d7b150.eot#iefix) format("embedded-opentype"), url(//s1.xmcdn.com/yx/ximalaya-web-static/last/dist/fonts/iconfont_d4002c8.woff) format("woff"), url(//s1.xmcdn.com/yx/ximalaya-web-static/last/dist/fonts/iconfont_78c2aaa.ttf) format("truetype"),
    url(//s1.xmcdn.com/yx/ximalaya-web-static/last/dist/fonts/iconfont_b630d7e.svg#iconfont) format("svg")
}

.float-bar.vm_ {
    width: 50px;
    position: fixed;
    bottom: 84px;
    right: 40px;
    background: #fff 95%;
    z-index: 4;
    white-space: nowrap
}

.float-bar-item.vm_ {
    padding: 0 5px 0 5px;
    margin-bottom: 5px
}

.float-bar-item-icon.vm_ {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center
}

.float-bar-item-icon i.vm_ {
    line-height: 40px
}

.float-bar-item-icon.float-bar-item-hasArrow.vm_:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-left: 8px solid #EE6363;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    font-size: 0;
    top: 12px;
    left: -18px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.gray-c {
    color: #a3a3ac
}

.gray-9 {
    color: #a3a3ac
}

.pointer-orange:hover {
    color: #EE6363 !important;
    cursor: pointer
}

.pointer-orange:hover div, .pointer-orange:hover i {
    color: #EE6363 !important
}

.float-bar-t-35.vm_ {
    font-size: 35px
}

.xuicon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.xuicon:before {
    display: block;
    font-family: xuicon !important
}

.xuicon-top:before {
    content: "\e6c2"
}

.float-bar-item:hover .float-bar-item-content.vm_ {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.float-bar-item-content.vm_ {
    display: block;
    right: 65px;
    position: absolute;
    bottom: -10px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.float-bar-item-content.vm_:after {
    content: '';
    width: 15px;
    position: absolute;
    right: -15px;
    top: 0;
    bottom: 0;
    border-left: 2px solid #000;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    -o-border-image: -o-linear-gradient(#EE6363 0, #EE6364 100%) 5 5;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#EE6363), to(#EE6364)) 5 5;
    border-image: linear-gradient(#EE6363 0, #EE6364 100%) 5 5
}

.text-lg {
    font-size: 16px
}